# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl
environment\stage\terraform.tfvars
environment\prod\terraform.tfvars

# Ansible Inventory
ansible/inventory.ini

# Secrets
*.pem
*.key
.env

# OS files
.DS_Store
Thumbs.db

# Build files
build/
app/target

