# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl
C:\Users\Gokul Aditya Parise\Devops\pet-adoption-project\environment\stage\terraform.tfvars
C:\Users\Gokul Aditya Parise\Devops\pet-adoption-project\environment\prod\terraform.tfvars

# Ansible Inventory
ansible/inventory.ini

# Secrets
*.pem
*.key
.env

# OS files
.DS_Store
Thumbs.db

# Build files
build/
app/target

